{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %}
    ICT HUB INVOICE - CREATE AN INVOICE
{% endblock title %}




{% block content %}
    <!-- As a link -->
<nav class="navbar navbar-light bg-light">
      <a href="{% url 'all_invoice' %}" class="navbar-brand mr-auto mt-2">ICT HUB INVOICE</a>
      <a class="nav-link ml-0" href="{% url 'invoice' %}">Create Invoice</a>
      <a class="nav-link ml-0" href="{% url 'all_invoice' %}">All Invoices</a>
      <a class="nav-link ml-0" href="{% url 'logout' %}">Logout</a>
</nav>



<div class="container my-5">
    <div class="row">
        <div class="col-md-6 offset-3">
              <h1 class="text-center">Company Information</h1>
                 {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
                        <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
                        {% endfor %}
                    </div>
                 {% endif %}


                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="text-center">
                        <button class="btn btn-success" style="width: 250px;font-size: 20px;">Submit</button>
                    </div>
                </form>

        </div>
    </div>
</div>


{% endblock content %}