{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load django_template_maths %}

{% block title %}
    ICT HUB INVOICE - CREATE AN INVOICE
{% endblock title %}




{% block content %}
    <!-- As a link -->
<nav class="navbar navbar-light bg-light">
      <a href="{% url 'all_invoice' %}" class="navbar-brand mr-auto mt-2">ICT HUB INVOICE</a>
      <a class="nav-link ml-0" href="{% url 'customer-company' %}">Add Company Info</a>
      <a class="nav-link ml-0" href="{% url 'all_invoice' %}">All Invoices</a>
      <a class="nav-link ml-0" href="{% url 'logout' %}">Logout</a>
</nav>



<div class="container my-5">
    <div class="row">
        <div class="col-md-4 mr-auto">
              <h1 class="text-center">Add Products</h1>
                 {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
                        <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
                        {% endfor %}
                    </div>
                 {% endif %}


                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="text-center">
                        <button class="btn btn-info" style="font-size: 15px;margin-right: 10px;">Add Product</button>
                    </div>
                </form>

        </div>

        <div class="col-md-8 ml-auto mt-1">

        <div class="text-right">
            <a href="{% url 'view-invoice' id=inv.id %}" class="btn btn-success" style="font-size: 15px;margin-top:-35px;">Final Submit</a>
        </div>

            <table class="table table-striped">
            <thead>
                <tr>
                    <td style="">Item name</td>
                    <td style="">Quantity</td>
                    <td style="">Unit Price</td>
                    <td style="">Sub Total</td>
                    <td style="">Action</td>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>

                    <td style="vertical-align: middle;!important">{{ item.item_name }}</td>
                    <td style="vertical-align: middle;!important">{{ item.quantity }}</td>
                    <td style="vertical-align: middle;!important">{{ item.unit_price }}</td>
                    <td style="vertical-align: middle;!important">{{ item.sub_total }}</td>
                    <td>
                        <a href="{% url 'delete-items' id=item.id %}" class="btn btn-sm btn-danger" >Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="well">
            <h4 class="text-center">Total: {{ total }}</h4>
        </div>



                <div class="col-md-8 offset-2 mt-5">
                    <form method="post">
                    {% csrf_token %}
                    {{ form2|crispy }}
                    <div class="text-center">
                        <button class="btn btn-info" style="font-size: 15px;margin-right: 10px;">Add Payment</button><span><b>Paid:</b> {{ inv.paid }} <b>Due:</b> {{ inv.grand_total|floatformat:2 }}</span>
                    </div>
                    </form>
                </div>

        </div>



    </div>
</div>


{% endblock content %}